@import "src/styles/index.scss"

.navbar
  box-shadow: 0px 5px 5px rgba(200,50,50,0.1)
  padding: 0px
  .btn
    margin-left: 9px
    margin-right: 5px
  .title
    text-decoration: none
    padding-left: 45px
  .noborder
    border: none
  .full
    margin-left: 10px
  .marsSVG
    position: absolute
    top: 8px
    left: 8px
    width: 40px
  .spacer
    display: none
  .user-icon-container
    padding-right: 50px
    width: 150px
    min-width: 150px
  .user-icon
    position: absolute
    top: -5px
    left: 15px
    height: 50px

@media (max-width: 991px)
  .navbar
    .btn
      margin: auto
    .full
      margin: auto
    .spacer
      display: block
